* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

#navbar {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: rgb(37, 36, 34);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.link {
  color: white;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: black;

  cursor: pointer;
}

.link:nth-child(2) {
  padding-left: 1rem;
}
